<style>
    aside {
        width: 20%;
        height: 100vh;
        background-color: #ccc;
        position: fixed;
        left: 0;
        top: 0;
        padding-left: 20px;

        ol{
            margin-top: 20px;
            list-style-position: inside;

            a{
                color: black;
                text-decoration: none;
                
                &:hover{
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
    }
</style>


<h2>Curriculum 📑</h2>
<ol>
    <li><a href="../01_Introduction/Introduction.html">Introduction</a></li>
    <li><a href="../02_SetUp/SetUp.html">SetUp</a></li>
    <li><a href="../03_Element/01_Element.html">Element</a></li>
    <li><a href="../04_Attributes/01_Attributes.html">Attributes</a></li>
    <li><a href="../05_Heading_&_Paragraphs/01_heading.html">Heading & Paragraphs</a></li>
    <li><a href="../06_Text_Formatting/Text_Formatting.html">Text Formatting</a></li>
    <li><a href="../07_Comments/comment.html">Comments</a></li>
    <li><a href="../08_Colors/01_colors.html">Colors</a></li>
    <li><a href="../09_Links/Links.html">Links</a></li>
    <li><a href="../10_Lists/List.html">Lists</a></li>
    <li><a href="../11_Tables/01_Table.html">Table</a></li>
    <li><a href="../12_Block_&_Inline/inline_&_block_elements.html">Block & Inline</a></li>
    <li><a href="../13_Media/media.html">Media</a></li>
    <li><a href="../14_Form/form.html">Form</a></li>
    <li><a href="../15_Semantic/semantic.html">Semantic Tags</a></li>
</ol>