*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 50px;
    list-style-type: none;
    display: flex;
    background-color: aqua;
}
.nav .logo{
    margin-left: 10px;
}
.nav .btn{
    margin-left: 80vw ;
    margin-top: 12px;
}
.nav .btn a {
    padding: 0px 10px ;
    color: black;
    text-decoration: none;
    font-size: 20px;
}