* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: lightblue;

    #open-btn {
        position: fixed;
        top: 30px;
        left: 20px;
    }

    main {
        float: right;
        width: 80%;
        font-family: 'Georgia', serif;
        line-height: 1.6;
        padding: 20px;
        padding-top: 60px;

        @media (width < 720px) {
            width: 100%;
        }
        
        -webkit-user-select {
            color: orange;
        }

        &>img {
            width: 80%;
        }
        &>video {
            width: 100%;
        }

        ul,
        ol {
            list-style-position: inside;
        }

        span.code,
        code.code {
            color: #d63384;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;

            &.highlight,
            &.high,
            &.mark {
                padding: 2px 4px;
                border-radius: 4px;
                background-color: #eaeaea;
            }
        }

        .mark {
            background-color: #ffeb3b;
            font-weight: bold;
            padding: 2px 4px;
            border-radius: 4px;
        }

        p.note {
            border-left: 4px solid #ddd;
            padding: 10px 20px;
            margin: 0;
            color: #555;
            font-style: italic;
            background-color: #f9f9f9;
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            a.back-button,
            .next-button {
                padding: 10px 15px;
                background: #002060;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
            }

            a.back-button:hover,
            .next-button:hover {
                background: #0056b3;
            }
        }
    }


    .editor {
        width: 100%;
        min-height: 80px;
        display: flex;
        border: 1px solid;

        @media (width < 720px) {
            display: block;
        }

        pre {
            width: 100%;
            padding: 5px;
            margin: 0;
            position: relative;

            &.hide {
                width: 50%;
                @media (width < 720px) {
                    width: 100%;
                }
            }
        }

        .preview {
            margin: 0;
            overflow: auto;
            text-wrap: wrap;
            background-color: #fff;

            ul,
            ol {
                list-style-position: inside;
            }

            &.show {
                width: 50%;
                @media (width < 720px) {
                    width: 100%;
                }
            }
        }

        button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            font-size: 0.9em;
            cursor: pointer;
            position: absolute;
            top: 3px;

            &.preview-button {
                left: 5px;
                
                &:hover {
                    background-color: #0056b3;
                }
            }
            
            &.copy-button {
                left: 95px;

                &:hover {
                    background-color: #0056b3;
                }
            }


        }

    }

}